@font-face {
    font-family: "Arial";
    src: url(../fonts/ArialMT.otf);
}

@font-face {
    font-family: "Arial-Bold";
    src: url(../fonts/Arial-BoldMT.otf);
}

@font-face {
    font-family: "Arial-Bolditalic";
    src: url(../fonts/Arial-BolditalicMT.otf);
}

body {
    margin: 0;
}

.heder {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgb(232, 235, 241);
    font-family: "Arial";
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.logotype {
    float: left;
    margin-top: 36px;
    padding-bottom: 47px;
}

.logotype__Bis {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 50px;
    font-weight: 900;
    line-height: 20px;
}

.logotype__Lite {
    color: rgb(42, 172, 200);
    font-family: Lato;
    font-size: 50px;
    font-weight: 400;
    line-height: 20px;
}

.menu {
    float: right;
    margin-top: 50px;
}

.menu__link {
    display: inline-block;
    vertical-align: top;
}

.menu__link-a {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    font-family: "Arial-Bold";
    color: rgb(0, 0, 0);
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
}

.menu__link-a.da::after {
    content: "";
    display: inline-block;
    vertical-align:2px;
    margin-right: 10px;
    margin-left: 7px;
    width: 7px;
    height: 5px;
    background-image: url(../images/da.png);
}

.menu__link-a:hover {
    color: rgb(42, 172, 200);
    border-top: 5px solid rgb(42, 172, 200);
    background-color: rgb(255, 255, 255);
    padding-top: 7px;
}

.menu__link.drop-down {
    position: relative;
}

.menu__link.two,
.menu__link.three,
.menu__link.six {
    margin-left: 30px;
}

.menu__link.four,
.menu__link.five {
    margin-left: 10px;
}

.menu__link.six {
    margin-right: 13px;
}

.drop-down:hover .sub {
    display: block;
}

.sub {
    padding: 0 10px;
    width: 170px;
    position: absolute;
    top: 130%;
    left: 0;
    display: none;
    box-shadow: 0 5px 0 rgb(42, 172, 200);
    border: 1px solid rgb(232, 235, 241);
    background-color: rgb(255, 255, 255);
}

.sub__link-a {
    color: rgb(0, 0, 0);
    font-size: 13px;
    line-height: 36px;
}

.sub__link-a:hover {
    color: rgb(42, 172, 200);
}

.sub__link {
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 3px;
}

.banner {
    background-color: rgb(129, 228, 237);
    padding-top: 20px;
    font-family: "Arial";
}

.banner .container {
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.12);
    background-color: rgb(224, 89, 54);
    background-image: url(../images/coffee.png);
    background-repeat: no-repeat;
    background-position-x: 419px;
}

.banner__descr {
    width: 29,4%;
    margin-top: 102px;
    margin-left: 61px;
    float: left;
}

.banner__descr-title {
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 50px;
    font-weight: 700;
}

.banner__image {
    float: right;
}

.slider {
    background-color: rgb(129, 228, 237);
    padding: 12px 0 14px 0;
}

.slider__but {
    margin-left: 430px;
}

.slider__but :last-child {
    margin-right: 0;
}

.slider__button {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 14px;
    background-color: rgb(98, 98, 98);
    opacity: 0.5;
    margin-right: 16px;
    border: 0;
    border-radius: 50%;
}

.slider__button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.slider__button.white {
    background-color: rgb(255, 255, 255);
}

.main_top {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgb(232, 235, 241);
    font-family: "Arial";
}

.main_top .container :first-child {
    margin-left: 0;
}

.descr {
    display: inline-block;
    vertical-align: top;
    max-width: 22%;
    margin-left: 4%;
    box-sizing: border-box;
}

.title::before {
    content: "";
    display: inline-block;
    vertical-align: -18px;
    margin-top: 60px;
    margin-right: 17px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(42, 172, 200);
    background-image: url(../images/shape-2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.title-title {
    display: inline;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    font-family: "Arial-Bold";
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.title_1::before {
    content: "";
    display: inline-block;
    vertical-align: -18px;
    margin-top: 60px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(42, 172, 200);
    background-image: url(../images/fullscreen.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.title_2::before {
    content: "";
    display: inline-block;
    vertical-align: -18px;
    margin-top: 60px;
    margin-right: 17px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(42, 172, 200);
    background-image: url(../images/view-list.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.title_3::before {
    content: "";
    display: inline-block;
    vertical-align: -18px;
    margin-top: 60px;
    margin-right: 17px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(42, 172, 200);
    background-image: url(../images/plane-2.png);
    background-repeat: no-repeat;
    background-position-x: 11px;
    background-position-y: 9px;
}

.description {
    margin-top: 19px;
    color: rgb(54, 54, 54);
    font-size: 13px;
    line-height: 20px;
}

.descr .link_3 {
    color: rgb(42, 172, 200);
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 12px;
}

.descr .link_3::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 7px;
    background-image: url(../images/arow.png);
    margin-right: 7px;
}

.main .container {
    border-bottom: 1px solid rgb(223, 225, 229);
}

.link_4 {
    margin-top: 25px;
    padding-bottom: 51px;
}

.link_5 {
    float: left;
    margin-top: 20px;
    margin-right: 25px;
    width: 14px;
    height: 24px;
    background: url(../images/shape-3.png);
}

.title_4 {
    float: left;
    margin-top: 25px;
    color: rgb(0, 0, 0);
    font-family: "Arial-Bold";
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 14px;
}

.button {
    float: right;
    margin-top: 20px;
}

.cyrcle {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(129, 228, 237);
    background-image: url(../images/shape-1.png);
    background-repeat: no-repeat;
    background-position-x: 6px;
    background-position-y: 5px;
    margin-left: 10px;
}

.cyrcle.right {
    background-image: url(../images/shape-1-copy.png)
}

.cyrcle,
.cyrcle.right:hover {
    cursor: pointer;
}

.image_2 {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    max-width: 22%;
    margin-right: 4%;
    padding-bottom: 40px;
    box-sizing: border-box;
    position: relative;
}

.half {
    display: inline-block;
    position: absolute;
    display: none;
    width: 220px;
    height: 81px;
    bottom: 20%;
    background-color: rgb(42, 172, 200);

}

.half__link-eye {
    display: inline-block;
    width: 35px;
    height: 25px;
    background-image: url(../images/preview.png);
    margin: 29px 35px 27px 69px;
}

.half__link-lk {
    display: inline-block;
    width: 20px;
    height: 26px;
    background-image: url(../images/link.png);
    margin-bottom: 27px;
}

.image_2:hover .half {
    display: block;
}

.main_middle .container :last-child {
    margin-right: 0;
}

.main_middle .container {
    border-bottom: 1px solid rgb(223, 225, 229);
}

.blok, .blok_1 {
    display: inline-block;
    vertical-align: top;
}

.blok {
    box-sizing: border-box;
    max-width: 52%;
    padding-right: 9%;
}

.blok_1 {
    max-width: 48%;
}

.blok__title::before {
    content: "";
    display: inline-block;
    vertical-align: -3px;
    width: 24px;
    height: 23px;
    margin-right: 15px;
    background-image: url(../images/comments.png);
}

.blok_1__title::before {
    content: "";
    display: inline-block;
    vertical-align: -2px;
    width: 24px;
    height: 20px;
    margin-right: 15px;
    background-image: url(../images/clients.png);
}

.title_5 {
    display: inline-block;
    margin-top: 24px;
    color: rgb(0, 0, 0);
    font-family: "Arial-Bold";
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.review__description {
    margin-top: 18px;
    color: rgb(54, 54, 54);
    font-family: "Arial";
    font-size: 14px;
    line-height: 24px;
}

.signature {
    margin-top: 20px;
    color: rgb(54, 54, 54);
    font-family: "Arial-Bolditalic";
    font-size: 14px;
    line-height: 24px;
}

.logotype_1__logo {
    margin-top: 15px;
    display: inline-block;
    vertical-align: top;
    width: 158px;
    height: 101px;
    box-shadow: inset 0 0 25px rgb(232, 235, 241);
    border: 1px solid rgb(232, 235, 241);
    background-color: rgb(255, 255, 255);
}

.logotype_1__logo.cox {
    background: url(../images/logo1.png) no-repeat center center;
}

.logotype_1__logo.cnn {
    background: url(../images/logo2.png) no-repeat center center;
}

.logotype_1__logo.af {
    background: url(../images/logo3.png) no-repeat center center;
}

.logotype_1__logo.jd {
    background: url(../images/logo4.png) no-repeat center center;
}

.logotype_1__logo.bb {
    background: url(../images/logo5.png) no-repeat center center;
}

.logotype_1__logo.ff {
    background: url(../images/logo6.png) no-repeat center center;
}

.logotype_1 :nth-child(4),
.logotype_1 :nth-child(5),
.logotype_1 :nth-child(6) {
    margin-top: 0;
}

.download {
    margin-top: 40px;
    font-family: "Arial";
}

.download .container {
    border: 1px solid rgb(129, 228, 237);
    background-color: rgb(232, 252, 254);
    padding: 37px 0 35px 0;
}

.download__descr {
    float: left;
    margin-left: 31px;
    max-width: 61%;
}

.download__descr-text {
    color: rgb(54, 54, 54);
    font-size: 16px;
    line-height: 26px;
}

.download__button {
    position: relative;
    float: right;
    margin-top: 7px;
    margin-right: 40px;
}

.download__button::before {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: 18px;
    width: 29px;
    height: 26px;
    background-image: url(../images/download.png);
}

.download__button-1 {
    width: 240px;
    height: 60px;
    padding-right: 20px;
    text-align: right;
    color: rgb(13, 7, 7);
    font-family: "Arial-Bold";
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(42, 172, 200);
    border-radius: 5px;
    background-color: rgb(42, 172, 200);
    background-image: linear-gradient(to top, rgb(42, 172, 200) 0%, rgb(96, 206, 222) 15%, rgb(114, 218, 230) 50%, rgb(129, 228, 237) 100%);
}

.download__button-1:hover {
    cursor: pointer;

.footer {
    margin-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgb(232, 235, 241);
    font-family: "Arial";
}

.info__item:last-child {
    margin-top: 40px;
    padding-bottom: 43px;
}

.column {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.column__title {
    margin-top: 32px;
    color: rgb(0, 0, 0);
    font-family: "Arial-Bold";
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.column__connent {
    margin-top: 15px;
    color: rgb(54, 54, 54);
    font-size: 14px;
    line-height: 20px;
}

.column.about {
    width: 30%;
    padding-right: 6.5%;
}

.column.explore {
    width: 14.5%;
    padding-right: 7%;
}

.column.browse {
    width: 17%;
    padding-right: 6%
}

.column.contact {
    width: 19%;
    padding-right: 5%;
}

.column.connect {
    width: 19.5%;
}

.column__link :first-child {
    margin-top: 0;
}

.column__link-item {
    margin-top: 10px;
}

.column__link-item-a {
    color: rgb(54, 54, 54);
    font-size: 14px;
    line-height: 20px;
}

.column__link-item-a:hover {
    color: rgb(42, 172, 200);
}

.adress__item:nth-child(1) {
    font-family: "Arial-Bold";
}

.adress__item:nth-child(4) {
    margin-top: 20px;
}

.social__item {
    display: inline-block;
    vertical-align: top;
    width: 53px;
    height: 51px;
    margin-right: 17px;
    margin-top: 9px;
}

.social__item:nth-child(1),
.social__item:nth-child(2),
.social__item:nth-child(3) {
    margin-top: 0;
}

.social__item:nth-child(3n) {
    margin-right: 0;
}

.social__item-link {
    display: block;
    width: 53px;
    height: 51px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social__item-link.fb {
    background-image: url(../images/fb.png);
}

.social__item-link.db {
    background-image: url(../images/db.png);
}

.social__item-link.pt {
    background-image: url(../images/pt.png);
}

.social__item-link.ln {
    background-image: url(../images/ln.png);
}

.social__item-link.sk {
    background-image: url(../images/sk.png);
}

.social__item-link.sh {
    background-image: url(../images/sh.png);
}

.copyrite {
    width: 65%;
    color: rgb(54, 54, 54);
    font-size: 13px;
    line-height: 18px;
    float: left;
}

.logo {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.bord {
    text-decoration: none;
}
